## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("c:/users/jerem/class/Module_6/Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Dikson,RU,73.5069,80.5464,-2.18,99,72,9.53,broken clouds
1,1,Cidreira,BR,-30.1811,-50.2056,68.81,96,100,14.90,moderate rain
2,2,Kapaa,US,22.0752,-159.3190,74.19,84,100,19.57,overcast clouds
3,3,Daru,PG,-9.0763,143.2092,78.39,85,78,7.43,broken clouds
4,4,Mayo,US,38.8876,-76.5119,60.40,44,0,16.11,clear sky

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 85

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Cidreira,BR,-30.1811,-50.2056,68.81,96,100,14.90,moderate rain
2,2,Kapaa,US,22.0752,-159.3190,74.19,84,100,19.57,overcast clouds
3,3,Daru,PG,-9.0763,143.2092,78.39,85,78,7.43,broken clouds
5,5,Rikitea,PF,-23.1203,-134.9692,76.50,64,46,9.44,scattered clouds
6,6,Santiago Del Estero,AR,-27.7951,-64.2615,82.27,33,0,5.88,clear sky
7,7,Kavaratti,IN,10.5669,72.6420,82.62,72,72,7.67,broken clouds
13,13,East London,ZA,-33.0153,27.9116,72.54,94,20,11.50,few clouds
17,17,Castro,BR,-24.7911,-50.0119,70.75,75,95,6.33,overcast clouds
22,22,Mahebourg,MU,-20.4081,57.7000,79.09,78,75,10.36,broken clouds
24,24,Jasper,US,37.2001,-94.3502,71.02,37,0,14.97,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                287
City                   287
Country                282
Lat                    287
Lng                    287
Max Temp               287
Humidity               287
Cloudiness             287
Wind Speed             287
Current Description    287
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_cities_df = preferred_cities_df.dropna()
clean_preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [11]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Cidreira,BR,68.81,moderate rain,-30.1811,-50.2056,
2,Kapaa,US,74.19,overcast clouds,22.0752,-159.3190,
3,Daru,PG,78.39,broken clouds,-9.0763,143.2092,
5,Rikitea,PF,76.50,scattered clouds,-23.1203,-134.9692,
6,Santiago Del Estero,AR,82.27,clear sky,-27.7951,-64.2615,
7,Kavaratti,IN,82.62,broken clouds,10.5669,72.6420,
13,East London,ZA,72.54,few clouds,-33.0153,27.9116,
17,Castro,BR,70.75,overcast clouds,-24.7911,-50.0119,
22,Mahebourg,MU,79.09,broken clouds,-20.4081,57.7000,
24,Jasper,US,71.02,clear sky,37.2001,-94.3502,

In [34]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"] 
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Cidreira,BR,68.81,moderate rain,-30.1811,-50.2056,Hotel Castelo
2,Kapaa,US,74.19,overcast clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
3,Daru,PG,78.39,broken clouds,-9.0763,143.2092,Daru Lodge
5,Rikitea,PF,76.50,scattered clouds,-23.1203,-134.9692,People ThankYou
6,Santiago Del Estero,AR,82.27,clear sky,-27.7951,-64.2615,Apartamentos Castelli 90
7,Kavaratti,IN,82.62,broken clouds,10.5669,72.6420,Hotels in Lakshadweep Islands
13,East London,ZA,72.54,few clouds,-33.0153,27.9116,Tu Casa
17,Castro,BR,70.75,overcast clouds,-24.7911,-50.0119,CHACARA BAILLY
22,Mahebourg,MU,79.09,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
24,Jasper,US,71.02,clear sky,37.2001,-94.3502,Guest House Motel

In [36]:
clean_hotel_df.count()

City                   282
Country                282
Max Temp               282
Current Description    282
Lat                    282
Lng                    282
Hotel Name             282
dtype: int64

In [37]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_Vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [38]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [40]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))